#toggle{
    display: none;
}
#label_toggle{
    position: absolute;
    top:80px;
    left:30px;
    font-size: 2em;
    color: var(--Tropicalindigo);
    cursor: pointer;
}
.ui-search-filter,
.ui-sort-filter {
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}

.ui-search-filter h3,
.ui-sort-filter h3 {
    color: #c5c1c1;
    font-size: 18px;
    margin-bottom: 10px;
}

.ui-search-filter ul,
.ui-sort-filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-search-filter-container,
.ui-sort-filter-container {
    cursor: pointer;
    color: #c5c1c1;
    padding: 8px 12px;
    border-radius: 6px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.ui-search-filter-container:hover,
.ui-sort-filter-container:hover {
    background-color: #7e68ed;
}
.ui-search-filter-container.selected,
.ui-sort-filter-container.selected {
    background-color:var(--black)
}
#search-input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-right: 10px;
    border: 1px solid var(--Tropicalindigo);
    background-color: var(--black);
    color: #c5c1c1;
}
#search-input:focus {
    border: 1px solid var(--Tropicalindigo); 
    outline: none; 
}
.ui-search-filter-container::after,
.ui-sort-filter-container::after {
    content: '>';
    float: right;
    transition: transform 0.3s ease;
    
}

.ui-search-filter-container.selected::after,
.ui-sort-filter-container.selected::after {
    transform: rotate(180deg);
}
